@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  background: url(./img/eren-gif.gif);
  background-position: center;
  background-size: auto;
  backdrop-filter: blur(6px);
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 28vw;
  height: fit-content;
  margin-top: 0.5rem;
  min-width: 350px;
  max-width: 400px;
  text-align: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 80px;
  -webkit-box-shadow: 2px 1px 18px 12px #FFEC00; 
  box-shadow: 2px 1px 16px 10px #FFEC00;
  background-color: white;
  background: rgb(255,246,0);
  background: linear-gradient(90deg, rgba(255,246,0,0.9) 0%, rgba(208,204,0,0.9) 70%, rgba(175,168,1,0.9) 100%);
  animation: cardAnimation 0.8s ease-out 0s 1 normal forwards;
}

.profile img {
  margin-top: 1rem;
  border-radius: 50%;
  padding: 4px;
  border: 5px solid black;
}

.profile p {
  font-weight: 500;
}

.container ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 1rem;
}

.container li {
  border: 2px solid black;
  padding: 8px;
  width: 200px;
  left: 50%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 30px;
  
}

li a {
  margin-left: 1rem;
  margin-right: 4rem;
  font-weight: bold;

}

li img {
  height: 20px;
  margin-inline: 5px;
  margin-left: 2.5rem;
}

li:hover {
  background: #FAFF68;
  transform: scale(1.1);
  transition: 0.4s ease-out;
}

li a:hover {
  background: #FAFF68;
  color: white;
  border-bottom: 1px solid black;
  transition: 0.4s ease-out;
}

.container a {
  text-decoration: none;
  color: black;
  
}

footer {
  text-align: center;
  justify-content: center;
  width: 28vw;
  margin-left: calc(50% - 28vh);
  padding-bottom: 16px;
  margin-top: -10px;
  color: black;
  font-weight: 500;
}

footer a {
  text-decoration: none;
}

footer span {
  animation: footerHeartAnimation 5s ease-in-out 0s infinite normal forwards;
}

footer a:hover {
  border-bottom: 1px solid black;
  color: white;
  transition: 0.4s ease-out;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    box-shadow: 2px 1px 16px 10px rgba(255, 236, 0, 1);
    opacity: 1;
  }

}

@keyframes footerHeartAnimation {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.textAnim {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
  typing 4s steps(40, end) infinite, .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

