* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 28vw;
  height: fit-content;
  margin-top: 1rem;
  min-width: 300px;
  margin-left: calc(50% - 28vh);
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 80px;
}

.profile img {
  margin-top: 1rem;
  border-radius: 50%;
  padding: 4px;
  border: 5px solid black;
}

.container ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 1rem;
}

.container li {
  border: 1px solid black;
  padding: 8px;
  width: 200px;
  left: 50%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

li img {
  height: 20px;
  margin-right: 5px;
}

li:hover {
  background: blue;
}

.container a {
  text-decoration: none;
  color: black;
  
}

footer {
  text-align: center;
  width: 28vw;
  margin-left: calc(50% - 28vh);
  margin-top: 8px;
}